
{% extends 'base.html' %}
{% block content %}
<!-- Container (Contact Section) -->
<div class="container-fluid">
<div class="container">
  <div class="row">
     <div class="col-sm-12">
         <div class="gotoSection">
           <a href="">
             <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>Jump to where you left off: <a href="I">Heading Goes Here</a> </div>
     </div>
  </div>
  <div class="row">
      <div class="col-sm-12 ">
        <h1>The Interview Cake Course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Esse quasi minus, illum cum dicta quaerat commodi vel quas nobis fugiat deserunt autem velit distinctio,
            ipsum recusandae. Quasi nulla nam atque!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, quas. Eligendi, alias rerum quae sunt
           velit est nisi eos ipsa minus itaque soluta vitae perferendis quasi sint maiores fugit doloribus.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non labore enim consequatur itaque consectetur ipsum reprehenderit inventore,
           nihil animi pariatur dolore fugiat voluptatem a quia atque assumenda similique ad.
           <br><br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit deleniti et repudiandae nulla, voluptas repellendus totam tempore odio
           vel suscipit molestiae reprehenderit facere est harum qui velit. Optio, at?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore suscipit odit quod
           quis soluta sed minima doloremque omnis! Animi necessitatibus pariatur officiis doloremque suscipit labore quas assumenda officia incidunt dolor?
        </p>
      </div>
  </div>
  <div class="row">
     <div class="col-sm-12">
         <p>gotoSection</p>
      </div>
  </div>
</div>
</div>
<div class="container-fluid gTopic">
<div class="container">
    <div class="row">
        <div class="col-sm-12 ">
          <h1>General Topic</h1>
       
        </div>
    </div>
  </div> 
</div>
{% endblock %}