
{% extends 'base.html' %}
{% block content %}
<!-- Container (Contact Section) -->
<div class="container-fluid">
<div class="container paddingTB">
  <div class="row">
     <div class="col-sm-12">
         <div class="gotoSection">
          <a href="">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>Jump to where you left off: <a href="I">Heading Goes Here</a> </div>
     </div>
  </div>
  <div class="row">
      <div class="col-sm-12 ">
        <h1>The Interview Cake Course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Esse quasi minus, illum cum dicta quaerat commodi vel quas nobis fugiat deserunt autem velit distinctio,
            ipsum recusandae. Quasi nulla nam atque!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, quas. Eligendi, alias rerum quae sunt
           velit est nisi eos ipsa minus itaque soluta vitae perferendis quasi sint maiores fugit doloribus.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non labore enim consequatur itaque consectetur ipsum reprehenderit inventore,
           nihil animi pariatur dolore fugiat voluptatem a quia atque assumenda similique ad.
           <br><br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit deleniti et repudiandae nulla, voluptas repellendus totam tempore odio
           vel suscipit molestiae reprehenderit facere est harum qui velit. Optio, at?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore suscipit odit quod
           quis soluta sed minima doloremque omnis! Animi necessitatibus pariatur officiis doloremque suscipit labore quas assumenda officia incidunt dolor?
        </p>
      </div>
  </div>
  <div class="row">
     <div class="col-sm-12">
         <p>gotoSection</p>
      </div>
  </div>
</div>
</div>

<div class="container-fluid gTopic">
    <div class="container paddingTB">
        <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-12 cHeader">
                  <label>SECTION: 1</label>
                  <h4>General Topic</h4>
                  <button type="button" class="btn btn-primary">
                      <i class="fa fa-arrow-up"></i> Show Less</button>
                  <hr>
                </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <label>READING:</label>
                 </div>
              </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="thumbnail tickIcon">
                        <div class="caption">
                          <div class='col-lg-12'>
                              <span class="fa  fa-thumb-tack pull-right text-col"></span>
                              <span class="fa  fa-book pull-right text-col"></span>
                          </div>
                          <div class='col-lg-12 well well-add-card'>
                              <span>Heading</span>
                          </div>
                          <div class='col-lg-12'>    
                              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                  praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                   sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                   voluptas consectetur!</span>  
                          </div>
                      </div>
                    </div>
                  </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          <div class="thumbnail tickIcon">
                              <div class="caption">
                                <div class='col-lg-12'>
                                    <span class="fa  fa-thumb-tack pull-right text-col"></span>
                                    <span class="fa  fa-book pull-right text-col"></span>
                                </div>
                                <div class='col-lg-12 well well-add-card'>
                                    <span>Heading</span>
                                </div>
                                <div class='col-lg-12'> 
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                        praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                         sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                         voluptas consectetur!</span>  
                                </div>
                           
                            </div>
                          </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label>QUESTIONS:</label>
                   </div>
                </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="thumbnail tickIcon">
                                <div class="caption">
                                  <div class='col-lg-12'>
                                      <span class="fa  fa-thumb-tack pull-right text-col"></span>
                                      <span class="fa  fa-book pull-right text-col"></span>
                                  </div>
                                  <div class='col-lg-12 well well-add-card'>
                                      <span>Heading</span>
                                  </div>
                                  <div class='col-lg-12'> 
                                      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                          praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                           sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                           voluptas consectetur!</span>  
                                  </div>
                              
                              </div>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                              <div class="thumbnail tickIcon">
                                  <div class="caption">
                                    <div class='col-lg-12'>
                                        <span class="fa  fa-thumb-tack pull-right text-col"></span>
                                        <span class="fa  fa-book pull-right text-col"></span>
                                    </div>
                                    <div class='col-lg-12 well well-add-card'>
                                        <span>Heading</span>
                                    </div>
                                    <div class='col-lg-12'>   
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                          praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                           sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                           voluptas consectetur!</span>    
                                    </div>
                                 
                                </div>
                              </div>
                    </div>
                </div>
              </div><!-- End container -->
        </div>
    </div> 
</div>

<div class="container-fluid">
    <div class="container paddingTB">
        <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-12 cHeader">
                  <label>SECTION: 1</label>
                  <h4>General Topic</h4>
                  <button type="button" class="btn btn-primary">
                      <i class="fa fa-arrow-up"></i> Show Less</button>
                  <hr>
                </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <label>READING:</label>
                 </div>
              </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="thumbnail tickIcon">
                        <div class="caption">
                          <div class='col-lg-12'>
                              <span class="fa  fa-thumb-tack pull-right text-col"></span>
                              <span class="fa  fa-book pull-right text-col"></span>
                          </div>
                          <div class='col-lg-12 well well-add-card'>
                              <span>Heading</span>
                          </div>
                          <div class='col-lg-12'>    
                              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                  praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                   sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                   voluptas consectetur!</span>  
                          </div>
                      </div>
                    </div>
                  </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          <div class="thumbnail tickIcon">
                              <div class="caption">
                                <div class='col-lg-12'>
                                    <span class="fa  fa-thumb-tack pull-right text-col"></span>
                                    <span class="fa  fa-book pull-right text-col"></span>
                                </div>
                                <div class='col-lg-12 well well-add-card'>
                                    <span>Heading</span>
                                </div>
                                <div class='col-lg-12'> 
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                        praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                         sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                         voluptas consectetur!</span>  
                                </div>
                           
                            </div>
                          </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label>QUESTIONS:</label>
                   </div>
                </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="thumbnail tickIcon">
                                <div class="caption">
                                  <div class='col-lg-12'>
                                      <span class="fa  fa-thumb-tack pull-right text-col"></span>
                                      <span class="fa  fa-book pull-right text-col"></span>
                                  </div>
                                  <div class='col-lg-12 well well-add-card'>
                                      <span>Heading</span>
                                  </div>
                                  <div class='col-lg-12'> 
                                      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                          praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                           sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                           voluptas consectetur!</span>  
                                  </div>
                              
                              </div>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                              <div class="thumbnail tickIcon">
                                  <div class="caption">
                                    <div class='col-lg-12'>
                                        <span class="fa  fa-thumb-tack pull-right text-col"></span>
                                        <span class="fa  fa-book pull-right text-col"></span>
                                    </div>
                                    <div class='col-lg-12 well well-add-card'>
                                        <span>Heading</span>
                                    </div>
                                    <div class='col-lg-12'>   
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio 
                                          praesentium similique labore voluptate id itaque, eum laudantium mollitia
                                           sed provident! Amet necessitatibus id possimus repellendus dolorum, accusantium 
                                           voluptas consectetur!</span>    
                                    </div>
                                 
                                </div>
                              </div>
                    </div>
                </div>
              </div><!-- End container -->
        </div>
    </div> 
    </div>
{% endblock %}